#sin1 {
    background-color: #ffe0e0;
}
#sin2 {
    background-color: #e0ffe0;
}
#sin3 {
    background-color: #e0e0ff;
}
#sin4 {
    background-color: #cfc45f;
}
#sin5 {
    background-color: #7153df;
}
body {
    background-color: #fffffc;
}
